body {
  margin-left: -7px;
  margin-top: -6px;
  font: 14px Helvetica, Arial, sans-serif;
}
.toi {
  background-color: #555;
  max-width: 616px;
  min-width: 116px;
  max-height: 700px;
  position: absolute;
}
.toi .settings {
  padding: 3px;
  height: 20px;
  text-align: right;
  background-color: #333;
}
.toi .settings a.answer {
  color: #eee;
  text-decoration: none;
}
.toi .settings a.remove-button {
  opacity: 0;
  margin-left: 2px;
  color: #eee;
  text-decoration: none;
}
.toi pre.text {
  color: #eee;
  font: 12pt "Mona", "ＭＳＰゴシック", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: left;
  margin-left: 12px;
  margin-right: 4px;
  min-height: 12px;
  max-width: 600px;
  min-width: 100px;
}
.toi .kotaeFrame {
  overflow-x: visible;
  max-height: 600px;
  max-width: 1000px;
  text-align: left;
  margin-left: 18px;
  overflow-y: scroll;
  background-color: #eee;
}
.toi .kotaeFrame .settings {
  background-color: #ddd;
  text-align: right;
}
.toi .kotaeFrame .settings a.answer {
  color: #555;
}
.toi .kotaeFrame .settings a.remove-button {
  color: #555;
}
.toi .kotaeFrame .text {
  color: #222;
}
.dummy {
  opacity: 0;
  background-color: #eee;
  max-width: 616px;
  min-width: 116px;
  max-height: 700px;
  position: absolute;
}
.toi div.settings:hover a.remove-button {
  opacity: 1;
}
.kotae div.settings:hover a.remove-button {
  opacity: 1;
}
textarea {
  line-height: 1.5em;
}
span pre {
  font: 12pt "Mona", "ＭＳＰゴシック", Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: left;
  margin-left: 12px;
  margin-right: 4px;
  min-height: 12px;
  max-width: 600px;
  min-width: 100px;
}
pre {
  /* Mozilla */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* CSS3 */
  white-space: pre-wrap;
  /* IE 5.5+ */
  word-wrap: break-word;
}
::selection {
  background: #ffb7b7;
  /* Safari */

}
::-moz-selection {
  background: #ffb7b7;
  /* Firefox */

}
